.block_assignment_alerts .li_course {word-break: break-all;font-weight: bold;}

.block_assignment_alerts #course_list_in_block {list-style-type: none;margin-bottom: 0.5cm;margin-left: 0.2cm;}
.block_assignment_alerts .course_list_item_in_block {margin: .5em 0;}
.li_course .colapsible_icon {float: right; cursor: pointer;}
